body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#95B8D1;
  color:whitesmoke;
  justify-content:center;
}

a { 
  color:#E0E2E2;
}
nav{
  align-content:space-around;
  padding:10px;
  margin:auto;
  background-color:#101d42
}